.mainContainer {
    padding: .75em 5em;
}

.label {
    color: #0B72B9;
    font-weight: 700;
}

.label:first-child {
    margin-left: 0;
}

.rowContainer {
    margin-top: 2em;
}

.addButton {
    color: #fff;
    margin-left: 2em;
}
